<div class="container">
    <h1 class="mt-3">Categories</h1>
    <div class="d-flex justify-content-end">
      <a class="btn btn-primary" [routerLink]="['/categories/add']">Add Category</a>
    </div>
  

    @if(categories.length){
        <table class="table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Url Handle</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              @for (category of categories; track category.id){
                <tr>
                    <td>{{ category.id }}</td>
                    <td>{{ category.name }}</td>
                    <td>{{ category.urlHandle }}</td>
                    <td>
                      <a class="btn btn-primary">Edit</a>
                      <a class="btn btn-danger" (click)="deleteCategory(category.id)">Delete</a>
                    </td>
                  </tr>
              }
            </tbody>
          </table>
    }

  </div>
  